.blue {
    color: #00b0bf;
}

.black {
    color: #000000;
}

.grey {
    color: #363636;
}

.white {
    color: #ffffff;
}

.gloomy {
    color: #ededed;
}

.bg-light-grey {
    background: lightgray;
}

.bg-grey {
    background: #363636;
    color: white;
}

.bg-white {
    background: white;
    color: #363636;
}

a {
    color: #373737;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #343434
}

.btn-grey {
    color: #ededed;
    font-weight: bold;
    text-decoration: none;
    padding: 15px;
    background: #373737;
    border-radius: 5px;
    box-shadow: 1px 2px 4px grey;
    margin: 10px;
}

.btn-grey:hover {
    color: #ffffff;
    background: #404040;
    box-shadow: 2px 4px 4px grey;
}

.git {
    color: #ededed;
}

.git a {
    color: #ededed;
}

.git a:hover {
    color: white;
}

.txt-center {
    text-align: center;
}

.txt-justify {
    text-align: justify;
}

.txt-left {
    text-align: left;
}

.txt-right {
    text-align: right;
}

.uppercase {
    text-transform: uppercase;
}

.capitalize {
    text-transform: capitalize;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    display: block !important;
}

@media (max-width: 500px) {
    [class*="padding-"] {
        padding: 10px;
    }
}

.fixed-container {
    max-width: 1366px !important;
}

.main-container {
    width: 100%;
}